// Project settings

//
// Colors
//

$primary-color: #1491d7;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: #b00342;
$secondary-color-light: lighten($secondary-color, 15%);
$secondary-color-dark: darken($secondary-color, 15%);

$third-color: #99d100;
$third-color-light: lighten($third-color, 15%);
$third-color-dark: darken($third-color, 15%);

$link-color: $primary-color;
$link-color-light: lighten($link-color, 15%);
$link-color-dark: darken($link-color, 15%);

$success-color: #31b50f;
$error-color: #ec5840;
$footer-color: #1c1a1b;

//
// TYPOGRAPHY
//

$app-header-font: Roboto, sans-serif;
$app-body-font: Roboto, sans-serif;

//
// Media Query Ranges
//

$row-max: 1000px;

$num-cols: 12;
$gutter-width: 1.5rem;
$element-top-margin: $gutter-width/3;
$element-bottom-margin: ($gutter-width*2)/3;

$small-screen-up: 641px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 640px;
$medium-screen: 992px;
$large-screen: 1200px;
