@import 'client/settings';

.main-loading {
  position: relative;
  margin-top: 5rem;
  margin-bottom: 5rem;
  animation: app-small-appear 250ms ease-out;

  .main-loading__circle {
    position: absolute;
    left: calc(50% - 22.5px);
    top: 37.5%;

    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 6px solid lighten($primary-color, 40%);
    border-top-color: $primary-color;
    background-color: #fff;
    animation: main-general-loading-circle 1s infinite linear;
  }

  @include breakpoint(medium) {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}

@keyframes main-general-loading-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
