@import 'client/settings';

.main-footer {
  padding: 1rem 0;
  background-color: $primary-color;
  color: #fff;
  animation: app-medium-appear-inverse 250ms ease-out;

  a {
    color: #fff;

    &:hover,
    &:focus {
      color: darken(#fff, 5);
    }
  }

  // pseudo-selectors
  &:hover,
  &:focus {
    background-color: darken($primary-color, 5);
    transition: background-color 250ms;
  }
}
