@import 'client/settings';

.users-user {
  display: block;

  .row {
    display: table;
    width: 100%;
  }
  .column {
    display: table-cell;
    vertical-align: middle;
  }
  .users-user__c1 {
    width: calc(120px);
    text-align: center;

    img {
      display: inline-block;
      margin: 0;
      width: 100%;
      border-radius: 50%;
    }
  }
  .users-user__c2 {
    width: calc(100% - 120px);
    text-align: left;

    h1 {
      display: block;
      margin: 0 0 0.5rem;
      line-height: 1;
      font-size: 1.25rem;
      font-weight: bold;
    }
    p {
      display: block;
      margin: 0;
      line-height: 1;
      font-size: 1rem;
    }
  }
}
