$vv-label-error-color:                $warning-color;
$vv-field-error-border-color:         $warning-color;
$vv-field-error-focus-border-color:   $warning-color;
$vv-display-error-color:              $warning-color;
