@mixin placeholder-color ($color, $opacity: 1) {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
    opacity: $opacity;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color;
    opacity: $opacity;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $color;
    opacity: $opacity;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color;
    opacity: $opacity;
  }
}

@mixin selection-color ($background, $color) {
  ::selection {
    background: $background; /* WebKit/Blink Browsers */
    color: $color;
  }
  ::-moz-selection {
    background: $background; /* Gecko Browsers */
    color: $color;
  }
}
