@import 'client/settings';

.general-card {
  position: relative;
  display: inline-block;
  border: 1px solid #e8e8e8;
  padding: 1rem;

  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);

  input {
    width: 100%;
  }
}
